@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@700&display=swap');


.unbounded-700 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.cursor:hover {
  cursor: pointer;
}

.word-wrap-example {
  word-wrap: break-word !important; /* Для старших версій браузерів */
  overflow-wrap: break-word !important; /* Для сучасних версій браузерів */
}

.none {
  display: none;
}

.s-s-hover {
  background-color: #FFDDD1;
}

.s-a-hover {
  background-color: #FAEDDD;

}

.c-ad4a27 {
  color: #AD4A27 !important;
}

.unbounded-800 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-hover:hover {
  color: #FFE6C8 !important;
}

.second-hover:hover {
  background-color: #FFE6C8 !important;
}
.first-hover:hover {
  background-color: #B75431 !important;
}
.hover-16279D:hover {
  background-color: #16279D !important;
}

.c-464442 {
  color: #464442 !important;
}

.date-2 {
  padding-top: 0 !important;
}


@keyframes slideIn {
  to {
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes slideUpOut {
  from {
    max-height: 500px; /* Adjust according to your content */
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    max-height: 0;
    opacity: 0;
  }
  50% {
    max-height: 250px; /* Adjust according to your content */
    opacity: 1;
  }
  100% {
    max-height: 500px; /* Adjust according to your content */
    opacity: 1;
  }
}


.b-g {
  background-color: #AD4A27;
}
.mobile-menu-list {
  background-color: #AD4A27;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  gap: 32px;
}
.mobile-menu-list div:nth-child(1) {
  margin-top: 10px;
}

.mobile-menu-list div {
  color: #FAEDDD;
}
.mobile-menu-list button {
  background-color: transparent;
  border: 1px solid #FAEDDD;
  color: #FAEDDD;
  height: 48px;
  width: 100%;
  padding: 12px 0 12px 0;
}

.main {
  z-index: 999;
  position:sticky;
  top: 0;
  width: 100%;
  height: 78px;
  background: #FFF;
}

.box-shadow-header {
  box-shadow: 0px 0px 10px 0px rgba(157, 157, 157, 0.15);
}

.accept-info-inside-box {
  display: flex;
}

.mulish-400 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish-500 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.container {
  max-width: 1378px;
  margin: 0 auto;
  letter-spacing: 0.02em;
}


p {
  margin: 0px;
}

.header {
  background-color: #AD4A27;
  color: white;
}

nav {
  padding-left: 16px;
  padding-right: 16px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.q-desc {
  transform: translateY(0);
  animation: slideUp 3s forwards;
}

.slideFadeOut{
  animation: slideUpOut 0.5s forwards;
}

.header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul:nth-child(1) {
  gap: 64px;
  height: 24px;
}

nav ul:nth-child(2) {
  gap: 16px;
  height: 48px;
}

nav ul:nth-child(2) li {
  border: 1px solid #FAEDDD;
  width: 259px;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav ul:nth-child(2) li:nth-child(1) {
  color: #FAEDDD;
}

nav ul:nth-child(2) li:nth-child(2) {
  background-color: #FAEDDD;
  color: #AD4A27;
}

nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 27px;
}
/* ambassador */

.ambassador {
  padding-top: 64px;
  background-color: #AD4A27;
  color: #FAEDDD;
  text-align: center;
}

.ambassador-finance {
  display: flex;
  color: #FAEDDD;
  line-height: 96px;
  font-size: 64px;
}

.loading div:nth-child(2) {
  text-transform: uppercase;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  color: #FAEDDD;
  font-size: 20px;
  line-height: 30px;
  max-width: 890px;
}

.loading {
  display: flex;
  gap: 64px;
  flex-direction: row;
}

.p-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.m-150 {
  margin-top: 150px;
  margin-bottom: 150px;

}

.ambassador img {
  max-width: 100%;
  height: auto;
}

/*  */
.about-grand-background {
  padding-top: 150px;
  padding-bottom: 150px;
}


.about-grand {
  background-color: #FAEDDD;
  color: #FAEDDD;
}

.none {
  display: none !important;
}

.about-grand p {
  text-align: left;
}

.about-grand-title {
  color: #2B2624 !important;
  line-height: 96px;
  font-size: 64px;
}

.card-grid-container {
  padding-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 443px));
  gap: 24px;
}

.card-top {
  align-items: center;
  display: flex;
}

.card-grid-container .card-title {
  color: #AD4A27;
}

.card-title-grid-container .cart-title{
  color: #AD4A27;
}

.card-title {
  font-size: 20px;
}

.card {
  height: 100%;
  display: flex;
  justify-content: left;
  gap: 16px;
  flex-direction: column;
}

.card-grid-container .card-desc {
  color: #2B2624
}

.card-target-grid-container .card-desc {
  color: #FFFFFF
}

.card-desc {
    padding-left: 12px;
     display: flex;
    justify-content: left;
    font-size: 18px;
    flex-direction: column;
    gap: 12px;
}

/* ---- */
.target-container {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FAEDDD;
  background-color: #AD4A27;
}

.target-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.target {
  line-height: 96px;
  font-size: 64px;
  color: #FAEDDD;
  text-align: center;
}

.card-target-grid-container {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 346px));
  gap: 5px;
  color: #FAEDDD;
}
/* ----- */

progress {
  width: 100%;
  height: 17px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
}

/* For Chrome, Safari, Opera */
progress::-webkit-progress-bar {
  background-color: #586CF6;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: #FAEDDD; /* Green color */
  border-radius: 8px;
}

.progress-container-block {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  position: relative;
}

.progress-step {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.target-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.step-number {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
  z-index: 1;
  margin-right: 20px;
}

.step-content {
  text-align: left;
}

.step-title {
  padding-bottom: 80px;
}

.step-desc {
  font-size: 0.9em;
  color: #666;
}

.progress-bar {
  position: absolute;
  left: 15px;
  width: 5px;
  height: calc(100% - 40px);
  background-color: #ccc;
  z-index: 0;
  top: 40px;
}

.step-active .step-number {
  background-color: #3498db;
}

.step-active ~ .progress-bar {
  background-color: #3498db;
}

.bar {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #FAEDDD;;
}

/* ---- */
.accept {
  background-color: #AD4A27;
  padding-top: 150px;

  padding-bottom: 150px;
}
.accept-title {
  line-height: 96px;
  font-size: 64px;
  color: #FAEDDD;
  text-align: center;
}

.accept-info {
  margin-top: 64px;
  display: flex;
  border: 1px solid rgba(250, 237, 221, 0.5);
}

.border-122087 {
  border: 1px solid rgba(17, 32, 135, 0.5);
}
.w-100 {
  width: 100%;
}

.p-64 {
  padding-top: 64px;
  padding-bottom: 64px;

}

.project-box {
  border: 1px solid rgba(250, 237, 221, 0.5);
}

.t-a-center {
  text-align: center;

}
.accept-desc {
  font-size: 18px;
  width: 55%;
  color: #FFFFFF;
  margin: 40px 25px 40px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.accept-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 65px 40px 64px 0px;
}

.accept-buttons button {
  font-size: 16px;
  height: 48px;
  width: 259px;
}

.accept-buttons button:nth-child(1) {
  border: 1px solid #FAEDDD;
  background-color: transparent;
  color: #FAEDDD;
}

.accept-buttons button:nth-child(2) {
  border: none;
  background-color: #FAEDDD;
  color: #AD4A27;
}

.mp-16 {
  margin: 0 16px;
}

.p-16 {
  padding: 0 16px;
}

.b-n {
  border: none;
}

.assesment {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #FAEDDD;
}

.assesment-title {
  color: #2A2624;
  font-size: 64px;
  line-height: 96px;
}

.asssesment-info {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.slideUpOut-header {
  animation: slideOff-header 0.5s forwards;
}
.slideUp-header {
  animation: slideUp-header 1.3s forwards;
}

@keyframes slideOff-header {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
@keyframes slideUp-header {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 500px; /* Adjust according to your content */
    opacity: 1;
  }
}

.asssesment-info div:nth-child(1) {
  border-right: none;
}

.asssesment-info div:nth-child(2) {
  border-right: none;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid rgba(173, 74, 39, 0.5);
  width: 100%;
  padding: 20px;
}

.as-title {
  color: #AB4629;
  line-height: 30px;
  font-size: 20px;
}

.as-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  line-height: 27px;
  color: #464442;
}

.q {
  background-color: #AD4A27;
  padding-top: 150px;
  padding-bottom: 150px;
}

.q-title {
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #FAEDDD;
  padding-bottom: 64px;
}

.q-text {
  color: #FAEDDD;
  font-size: 20px;
  line-height: 28px;
}

.q-desc {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  padding-top: 0px !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.button-q {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.part-1 {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}



.question {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(250, 237, 221, 0.5);

  height: auto;
}

.path-112087 svg path {
  fill: #112087;
}


.fff-t:hover .button-q button {
  background-color: #FAEDDD;
}

.fff-t:hover .q-text div {
  color: #FFE6C8;
}

.facebook:hover svg rect {
  fill: #FFE6C8;
}

.instagram:hover svg path:first-child {
  fill: #FFE6C8;
}

.button-q-hover button:hover {
  background-color: #FAEDDD;
}

.con {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.question button {
  border: none;
  width: 32px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.q-button {
  display: flex;
  flex-direction: column;
  padding-top: 30px
}

.question div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.transparent-button {
  border: 1px solid #FAEDDD !important;
  background-color: transparent;
  color: #FAEDDD;
}

.partners {
  background-color: #FAEDDD;
  padding-top: 150px;
  padding-bottom: 150px;
}

.partner-title {
  color: #2A2624;
  font-size: 64px;
  line-height: 96px;
}


.logos {
  margin-top: 64px;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-a {
  background-color: #AD4A27;
  padding-top: 64px;
  padding-bottom: 24px;
}

.footer-title img {
  max-width: 100%;
  height: auto;
}

.drogobych {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.vul {
  font-size: 20px;
  line-height: 28px;
  color: #FAEDDD;
}

.phone {
  font-size: 20px;
  line-height: 28px;
  color: #FAEDDD;
}

.containter-sub-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.contact {
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 104px;
  color: #FAEDDD;
}

.social {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news {
  font-size: 20px;
  line-height: 28px;
}
hr {
  color: #FAEDDD;

}

.social-logo {
  display: flex;
  gap: 12px;
}


.ad {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
}

.mobile-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.dev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}


.project div:nth-child(1) {
  font-size: 16px;
  line-height: 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last {
  padding-bottom: 32px;
}
.project div:nth-child(2) {
  font-size: 16px;
  line-height: 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.security {
  font-size: 16px;
  line-height: 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.dev div:nth-child(1) {
  font-size: 16px;
  line-height: 19.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}



.step-title {
  font-size: 64px;
  line-height: 96px;
  color: #2A2624;
}

.step-block {
  display: grid;
  grid-template-columns: minmax(10px, 150px) 30px 4fr;
  min-height: 123px;
}

.step-block-last {
  min-height: 0;
}
hr {
  opacity: 50%;
}
.round {
  position: relative;
  width: 13px;
  height: 13px;
  background-color: #AD4A27;
  border-radius: 50%;
}

.symbol {
  position: relative;
  top: 20px;
  height: 100%;
}

.line {
  border-left: 1px solid #AD4A27;
  height: 100%;
  margin-left: 5.9px;
}

.no-lone {
  border: none !important;
}

.last-round {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #124e78;
  border-radius: 50%;
}

.step-date {
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
  color: #AB4629;
  top: 10px;
  position: relative;
}

.step-desc {
  padding-left: 10px;
}

.step-desc div:nth-child(1) {
  font-size: 18px;
  line-height: 30px;
  color: #AD4A27;
}

.step-desc div:nth-child(2) {
  padding-top: 32px;
  padding-bottom: 16px;
  color: #464442;
  font-size: 18px;
  line-height: 27px;
}

.bigshare:hover svg path {
  fill: #FFE6C8;
}

.vul:hover div {
  color:#FFE6C8;
}

.phone:hover div {
  color: #FFE6C8;
}
.security div b:hover {
  color: #FFE6C8;
}

.card-target-grid-container-subscribe {
  display: flex;
}

.b-112087 {
  background-color: #112087 !important;
}

.c-112087 {
  color: #112087 !important;
}

.c-2b2624 {
  color: #2B2624 !important;
}

.b-faeddd {
  background-color: #FAEDDD !important;
}

.m-t-32 {
  margin-top: 32px;
}

.m-b-64 {
  margin-bottom: 64px;
}

.p-b-64 {
  padding-bottom: 64px;

}

.f-s-40 {
  font-size: 40px;
}

.f-s-18 {
  font-size: 18px;

}

.f-s-64 {
  font-size: 64px !important;
}

.l-h-96 {
  line-height: 96px;
}

.l-h-60 {
  line-height: 60px;
}

.m-l-32 {
  margin-left: 32px;
}

.l-h-24 {
  line-height: 24px;
}

.m-t-40 {
  margin-top: 40px;
}

.l-h-50 {
  line-height: 50px;

}

.c-faeddd {
  color: #FAEDDD !important;
}

.h-48 {
  height: 48px;

}

.w-260 {
  width: 260px;

}

.j-c-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.gap-16 {
  gap: 16px;
}

.loading {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 32px;
}

.l-h-27 {
  line-height: 27px;
}

.l-h-30 {
  line-height: 30px;
}

.card-subscribe {
  height: 100%;
}


.f-s-16 {
  font-size: 16px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.m-b-16 {
  margin-bottom: 16px;

}
.m-t-24 {
  margin-top: 24px;
}

.p-l-32 {
  padding-left: 32px;
}

.card-subscribe {
  border: 1px solid rgba(17, 32, 135, 0.5);
  width: 50%;
}

.textBlock p {
  margin: 30px 10px 0 0;
}

.navbar-toggler {
  display: none;
}

.date {
  display: none;
}

@media only screen and (max-width: 1260px) {
  .navbar-toggler {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 24px;
    width: 24px;
  }

  .ambassador-finance {
    font-size: 30px;
    line-height: 45px;
  }

  .grand-image {
    margin: 0 16px;
  }

  .about-grand-background {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .about-grand-title {
    font-size: 30px;
    line-height: 45px;
  }
  .card-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px !important
  }

  .target-sub-box-inside {
    padding-left: 16px;
  }


  .card-grid-container {
    padding-top: 32px !important;
  }

  .card-subscribe-inside-box {
    padding: 0 16px;
  }

  .card-title-subscribe {
    margin-bottom: 16px;
  }
  .card-price-subscribe {
    margin-bottom: 16px;
  }

  .card-subscribe-inside-box button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .target-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .ambassador {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .target-subscribe-title  {
    font-size: 30px !important;
    line-height: 45px;
    margin-bottom: 32px;
  }
  .progress-desc {
    margin-top: 24px;
  }

  .subscribe-support {
    font-size: 22px;
    line-height: 33px;
  }

  .target-subscribe-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  }
  .card-subscribe{
    padding-left: 0 !important;
    width: 100%;
  }

  .projects {
    font-size: 30px !important;
    line-height: 45px;
  }

  .target {
    font-size: 30px;
    line-height: 45px;
  }

  .sub-accept {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .word-wrap-example {
    word-wrap: break-word !important; /* Для старших версій браузерів */
    overflow-wrap: break-word !important; /* Для сучасних версій браузерів */
}

  .target-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px !important;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  nav ul li:nth-child(2) {
    display: none;
  }


  nav ul li:nth-child(3) {
    display: none;
  }

  .last {
    padding-top: 0 !important;
  }

  .date-2 {
    padding-bottom: 16px !important;
  }

  .header-mobile {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .menu label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }


  .bar-toggle  {
    width: 18px;
    height: 2px;
    margin-bottom: 5px;
    background: white;
    border-radius: 10%;
    transition: 0.4s;
  }

  .navbar-toggler .bar-1 {
    position: absolute;
    transform: rotate(45deg);
    transition: .5s;
  }
  .navbar-toggler .bar-2 {
    display: none;
  }
  .navbar-toggler .bar-3 {
    transform: rotate(-45deg);
    transition: .5s;
  }

  .step-date {
    display: none;
  }

  .step-block {
    grid-template-columns: minmax(10px, 20px) auto 4fr;
  }

  .date {
    display: block;
    position: absolute;
    right: 16px;
    padding-top: 0;
  }

  .step-desc div:nth-child(1) {
    font-size: 18px;
    line-height: 27px;
    color: #AD4A27;

  }

  .step-desc div:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    color: #AD4A27;
    padding-bottom: 32px;
  }


.step-desc div:nth-child(3) {
  padding-top: 16px;
  padding-bottom: 32px;
  color: #464442;
  font-size: 18px;
  line-height: 27px;
}

  .bar {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .accept {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .accept-title {
    font-size: 30px;
    line-height: 45px;
  }

  .accept-info {
    flex-direction: column;
    margin-top: 32px;
    padding: 0 16px;
  }

  .accept-desc {
    margin: 24px 0 16px 0;
    gap: 8px;
    width: 100%;
  }


.accept-desc-inside-box {

}

  .contact div:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  .assesment {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .assesment-title {
    font-size: 30px;
    line-height: 45px;
  }

  .asssesment-info {
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }

  .q {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .q-title {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 32px;
  }



  .accept-buttons {
    margin: 0 0 24px 0;
    flex-direction: column;
  }
  .accept-buttons button {
    width: 100%;
  }

  .partners {
    padding-top: 64px;
    padding-bottom: 64px;

  }

  .partner-title {
    font-size: 30px;
    line-height: 45px;

  }

  .logos {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 443px));
    gap: 24px
  }

  .footer-a {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .contact {
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
    padding-bottom: 24px;
  }

  .containter-sub-top{
    gap: 32px
  }

  .con {
    width: 100%;
  }

  .social {
    width: 100%;
  }

  .accept-info-inside-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
  }

  .ad {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
.project {
  justify-content: left;
}

.dev {
  justify-content: left;
}
.step-title {
  font-size: 30px;
  line-height: 45px;
  padding-bottom: 32px;
}

.con {
  font-size: 20px;
  line-height: 28px;
}

  .mobile-col {
  padding: 24px 16px !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  }

  .target-area{
    gap: 24px
  }

  .col {
    padding: 0 !important;
    border-right: 1px solid rgba(173, 74, 39, 0.5) !important;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
